<h1>Strona główna</h1>
<% @tasks.each do |task| %>
 <h3>

   <%= link_to "#{task.title}, #{task.created_at}", task_path(task) %>
   <%= link_to 'Pokaż', task_path(task)%>
   <%= link_to 'Usuń', task_path(task), method: :delete %>
 </h3>
<% end %>
